/* ETIQUETAS SIMPLES */
*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	letter-spacing: 1.1px;
}
body {
    background: rgba(62,62,61,255);
	font-family: "Varela Round", sans-serif;
    /*font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;*/
}
/* fin ETIQUETAS SIMPLES */

/* CABECERA */
#nav {
	display: block;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
	height: 100vh;
	list-style: none;
}
#nav #logo1 { /* LOGO */
    text-align: center;
    margin-top: -7px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px 20px;
	width: 30px;
	height: 30px;
	float: left;
	border: 1px #dcb03b solid;
}
#nav h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: medium;
	color: #dcb03b;
    text-align: center;
    margin-top: -10px;
}

#nav ul { /* SECCIÓN DE BOTONES */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
    height: 3em;
    border-bottom: 1px solid #dcb03b;
}
#nav li {
	width: 100%;
    padding-top: 15px;
	transition: background-position-x 0.9s linear;
	text-align: center;
	float: left;
	width: max-content;
}
#nav li a {
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 18px 18px;
	text-decoration: none;
}
#nav li a:hover {
	background-color: #dcb03b;
}
#nav a.active {
	background-color: #333;
}

#nav #buscador { /* BUSCADOR */
	/*border: 1px blue solid;*/
    margin-top: -9.5px;
    margin-left: 6.5px;
}
#nav #buscador form {
	width: 300px;
	margin: 50px auto;
}
#buscador .search {
	padding: 8.5px 15px;
	background: #333;
	border: 1.5px solid #dcb03b;
	width: 430px;
	color: #fff;
}
.button {
	position: relative;
	padding: 8px 15px;
	border: 2px solid #dcb03b;
	background-color: #dcb03b;
	color: #fafafa;
	border-radius: 0 20px 20px 0;
}
.button:hover  {
	background-color: #e0b84b;
	color: #ffffff;
}
.arrow {
	position: relative;
	background: #dcb03b;
	margin-left: -6px;
}
.arrow:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rbga(32, 124, 202, 0);
	border-right-color: #dcb03b;
	border-width: 10px;
	margin-top: -9px;
}
/* fin CABECERA */

@import url('https://rsms.me/inter/inter-ui.css');
::selection {
    background: #2D2F36;
}
::-webkit-selection {
    background: #2D2F36;
}
::-moz-selection {
    background: #2D2F36;
}
/*.page {
    border: 1px solid blue;
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}*/

.page {
    position: relative;
	display: block;
    margin-top: -649px;
    border-top: 2px solid #dcb03b;

    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
}

@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
  }
}
.container {
    /*border: 1px solid green;*/
    display: flex;
    height: 320px;
    margin: 165px auto;
    width: 640px;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        height: 630px;
        width: 320px;
  }
}
.left {
        background: #dcb03b;
        height: calc(100% - 40px);
        top: 20px;
        position: relative;
        width: 50%;
        border-radius: 20px 0 0 20px;
}
@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
  }
}
.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}
.eula {
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 1.5;
    margin: 43px;
    text-align: justify;
}
.right {
    background: rgb(37, 37, 37);
    /*border: 1px solid #dcb03b;*/
    box-shadow: 0px 0px 40px 16px rgba(5, 0, 0, 0.22);
    border-radius: 20px 20px;
    color: #ffffff;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
  }
}
svg {
    position: absolute;
    width: 320px;
}
path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.form {
    margin: 40px;
    position: absolute;
}
label {
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}
input::-moz-focus-inner { 
    border: 0; 
}
#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}
#submit:focus {
    color: #f2f2f2;
}
#submit:active {
    color: #d0d0d2;
}
#submit:hover {
    color: rgb(192, 190, 190);
}

/* FOOTER */
#footer {
	width: 100%;
	/*border: 1px solid blue;*/
	position: relative;
	display: inline-block;
	color: white;
	background-color: rgb(47, 47, 47);
	border-top: 2px solid #dcb03b;
}
#footer .contenedor {
	background: #333;
    text-align: center;
	margin-top: 20px;
	padding: 0 0 5px;
	list-style-type: none;
	/*border: 1px solid rgb(255, 230, 0);*/
}
.contenedor {
    max-width: 1350px;
	/*border: 1px solid rgb(255, 0, 225);*/
}
.row {
    display: flex;
    flex-wrap: wrap;
	/*border: 1px solid rgb(17, 255, 0);*/
}
.columna1, .columna2, .columna3, .columna4 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	margin-bottom: 15px;
	/*border: 1px solid rgb(255, 25, 0);*/
}
#footer #footer1 .infoarea {
    padding: 24px 0 0;
}
#footer #footer1 .infoarea .footerLogo {
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    margin: 0 0 18px;
}
#footer .footerLogo img {
    vertical-align: middle;
    border-style: none;
	margin: 10px 0 5px;
	border: 1px solid #dcb03b;
	border-radius: 50px 50px;
}
#footer .links a {
    padding: 0;
	color: white;
	text-decoration: none;
}
#footer .links ul {
    padding: 0;
    margin: 0;
	list-style: none;
}
#footer .columna3 p {
    font-style: normal;
}
#footer .columna4 ul li {
	list-style: none;
	text-decoration: none;
	margin: 0 5px;
}
.columna4 img {
	text-align: center;
	border: 1px solid #333;
	border-radius: 5px;
	margin-top: 5px;
}
#footer .footer-bottom {
    background: #e0b84b;
    padding: 21px 0;
    text-align: center;
	color: #000000;
}
.footer-bottom p {
    font-style: normal;
}
/* fin FOOTER */