/* ETIQUETAS SIMPLES */
*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	letter-spacing: 1.1px;
}
body {
    background: rgba(62,62,61,255);
	font-family: "Varela Round", sans-serif;
}
::-webkit-scrollbar {
	display: none;
}
/* fin ETIQUETAS SIMPLES */

/* CABECERA */
#nav {
	display: block;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
	height: 100vh;
	list-style: none;
}
#nav #logo1 { /* LOGO */
    text-align: center;
    margin-top: -7px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px 20px;
	width: 30px;
	height: 30px;
	float: left;
	border: 1px #dcb03b solid;
}
#nav h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: medium;
	color: #dcb03b;
    text-align: center;
    margin-top: -10px;
}

#nav ul { /* SECCIÓN DE BOTONES */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
    height: 3em;
    border-bottom: 1px solid #dcb03b;
}
#nav li {
	width: 100%;
    padding-top: 15px;
	transition: background-position-x 0.9s linear;
	text-align: center;
	float: left;
	width: max-content;
}
#nav li a {
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 18px 18px;
	text-decoration: none;
}
#nav li a:hover {
	background-color: #dcb03b;
}
#nav a.active {
	background-color: #333;
}

#nav #buscador { /* BUSCADOR */
	/*border: 1px blue solid;*/
    margin-top: -9.5px;
    margin-left: 6.5px;
}
#nav #buscador form {
	width: 300px;
	margin: 50px auto;
}
#buscador .search {
	padding: 8.5px 15px;
	background: #333;
	border: 1.5px solid #dcb03b;
	width: 600px;
	color: #fff;
}
.button {
	position: relative;
	padding: 8px 15px;
	border: 2px solid #dcb03b;
	background-color: #dcb03b;
	color: #fafafa;
	border-radius: 0 20px 20px 0;
}
.button:hover  {
	background-color: #e0b84b;
	color: #ffffff;
}
.arrow {
	position: relative;
	background: #dcb03b;
	margin-left: -6px;
}
.arrow:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rbga(32, 124, 202, 0);
	border-right-color: #dcb03b;
	border-width: 10px;
	margin-top: -9px;
}
/* fin CABECERA */

/* Tablas de precios */
#flotante h1 {
	text-align: center;
	margin: 10px;
}
.pricing_table {
    position: relative;
    left: 155px;
    line-height: 150%; 
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto; 
    width: 100%; 
    max-width: 800px; 
    padding-top: 10px;
    /*margin-top: 100px;*/
}
.price_block {
    width: 100%; 
    color: #fff;
    border-radius: 20px;
    list-style-type: none; 
    transition: all 0.25s; 
    position: relative; 
    float: left;
    box-sizing: border-box;
    margin-bottom: 10px; 
    border-bottom: 1px solid transparent; 
}

/* Cabezas de precios */
.pricing_table h3 {
    text-transform: uppercase;
    padding: 5px 0; 
    background: #333; 
    margin: -10px 0 1px 0;
}

/* Etiquetas de precios */
.price {
    display: table; 
    background: #444; 
    width: 100%; 
    height: 70px; 
}
.price_figure {
	/* .price_figure actúa como un contenedor para .price_number y .price_tenure
	para que puedan alinearse verticalmente en el centro como una sola unidad */
    font-size: 24px; 
    text-transform: uppercase; 
    vertical-align: middle; 
    display: table-cell;
}
.price_number {
    font-weight: bold; 
    display: block;
}
.price_tenure {
    font-size: 11px; 
}

/* Características */
.features {
    background: #dbe2e4; 
    color: #000;
}
.features li {
    padding: 8px 15px;
    border-bottom: 1px solid #ccc; 
    font-size: 11px; 
    list-style-type: none;
}

/* Pie de página y botón de acción */
.footer {
    padding: 15px; 
    background: #dbe2e4;
}
.action_button {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    border-radius: 5px; 
    background: linear-gradient(#666, #333); 
    padding: 5px 20px; 
    font-size: 11px; 
    text-transform: uppercase;
}

/* Efecto de desplazamiento */
.price_block:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); 
    transform: scale(1.04) translateY(-5px); 
    z-index: 1; 
    border-bottom: 0 none;
}
.price_block:hover .price {
    background:linear-gradient(#dcb03b, #e0b84b); 
    box-shadow: inset 0 0 45px 1px #dcb03b;
}
.price_block:hover h3 {
    background: #222;
}
.price_block:hover .action_button {
    background: linear-gradient(#e0b84b, #dcb03b); 
}

/* Consultas responsive */
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .price_block {width: 50%;}
    .price_block:nth-child(odd) {border-right: 1px solid transparent;}
    .price_block:nth-child(3) {clear: both;}
     
    .price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 768px){
    .price_block {width: 25%;}
    .price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
    .price_block:last-child {border-right: 0 none;}
     
    .price_block:hover {border: 0 none;}
}
/* fin Tablas de Precios */

#cuerpo {
    position: relative;
	display: block;
    margin-top: -724px;
    /*border-top: 1px solid #dcb03b;*/
    border-bottom: solid #dcb03b;
}

/* CONTENIDO PRINCIPAL */
.principal {
	/*border: 1px solid lime;*/
	/*column-width: 200px;
	column-gap: 20px;*/
	position: relative;
	float: right;
	width: 100%;
	background-color: #fcfcfc;
	border-top: solid #dcb03b;
	margin: 0;
    font: .7em/1.2 Arial, Helvetica, sans-serif;
    text-align: justify;
}
.principal h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 15px;
	background-color: #dcb03b;
	color: #060606;
    text-align: left;
	border-radius: 0 0 20px 0;
	padding: 10px;
	width: 250px;
}

.pack {
	/*border: 1px solid blue;*/
	margin: 10px 0 10px 18px;
}

.card {
	break-inside: avoid;
	page-break-inside: avoid;
	position: relative;
	float: left;
	background-color: rgb(208, 203, 203);
	border: 2px solid rgb(81, 84, 86);
	border-radius: 10px;
	padding: 10px;
	margin: 5px 15px 1em 0;
	height: 465px;
	width: 270px;
}
.card h2 {
	padding: 5px;
	letter-spacing: normal;
}
.card img {
	height: 380px;
	width: 247px;
	text-align: center;
	padding: 0 0;
	border: 3px groove rgba(51, 51, 51, 0.663);
	border-radius: 5% 5%;
	object-fit: cover;
}
.card-tittle {
	width: 247px;
	height: 55px;
	margin-bottom: 5px;
	text-align: center;
	border: 3px groove rgba(51, 51, 51, 0.663);
}
.card-image {
	/*border: 1px solid red;*/
	width: 224px;
	height: 340px;
}

.card:hover {
    box-shadow: 5px 8px 10px #000000;
    transform: scale(1) translateY(1px); 
    z-index: 1; 
    border-bottom: 0 none;
}

#buy {
    /*border: 1px solid green;*/
	margin: 0 20px 0 0;
    /*margin-bottom: 5px;*/
}
#buy li {
    list-style-type: none;
    text-align: right;
    padding: 5px 0 0;
}
.botones {
    position: relative;
	padding: 8px 15px;
	border: 1px solid #dcb03b;
	background-color: #dcb03b;
	color: #000000;
    font-size: 15px;
	border-radius: 20px 20px;
	margin-bottom: 10px;
	cursor: pointer;
}
.botones:hover  {
	background-color: #e8c051;
	color: #000000;
}

.separador {
	/*border: 1px solid red;*/
	height: 5em;
	width: 100%;
	background-color: rgba(62,62,61,255);
	box-shadow: 10px 10px 200px #000000; 
}
/* fin CONTENIDO PRINCIPAL */

/* FOOTER */
#footer {
	width: 100%;
	/*border: 1px solid blue;*/
	position: relative;
	display: inline-block;
	color: white;
	background-color: rgb(47, 47, 47);
	border-top: 2px solid #dcb03b;
}
#footer .container {
	background: #333;
    text-align: center;
	margin-top: 20px;
	padding: 0 0 5px;
	list-style-type: none;
	/*border: 1px solid rgb(255, 230, 0);*/
}
.container {
    width: 100%;
	/*border: 1px solid rgb(255, 0, 225);*/
}
.row {
    display: flex;
    flex-wrap: wrap;
	/*border: 1px solid rgb(17, 255, 0);*/
}
.columna1, .columna2, .columna3, .columna4 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	margin-bottom: 15px;
	/*border: 1px solid rgb(255, 25, 0);*/
}
#footer #footer1 .infoarea {
    padding: 24px 0 0;
}
#footer #footer1 .infoarea .footerLogo {
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    margin: 0 0 18px;
}
#footer .footerLogo img {
    vertical-align: middle;
    border-style: none;
	margin: 10px 0 5px;
	border: 1px solid #dcb03b;
	border-radius: 50px 50px;
}
#footer .links a {
    padding: 0;
	color: white;
	text-decoration: none;
}
#footer .links ul {
    padding: 0;
    margin: 0;
	list-style: none;
}
#footer .columna3 p {
    font-style: normal;
}
#footer .columna4 ul li {
	list-style: none;
	margin: 0 5px;
}
.columna4 img {
	text-align: center;
	border: 1px solid #333;
	border-radius: 5px;
	margin-top: 5px;
}
.columna4 a {
	text-decoration: none;
}
.columna4 a:hover {
    opacity: .70;
}
#footer .footer-bottom {
    background: #e0b84b;
    padding: 21px 0;
    text-align: center;
	color: #000000;
}
.footer-bottom p {
    font-style: normal;
}
/* fin FOOTER */