/* ETIQUETAS SIMPLES */
*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	letter-spacing: 1.1px;
}
body {
    background: rgba(62,62,61,255);
	font-family: "Varela Round", sans-serif;
    /*height: 100%;
    color: #777;
    line-height: 1.8;*/
}
::-webkit-scrollbar {
	display: none;
}
h3, h4 {
	margin-bottom: 0;
	font-weight: bold;
	font-family: "Varela Round", sans-serif;
}
/* fin ETIQUETAS SIMPLES */

/* CABECERA */
#nav {
	display: block;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
	height: 100vh;
	list-style: none;
}
#nav #logo1 { /* LOGO */
    text-align: center;
    margin-top: -3px;
	margin-right: 5px;
	margin-left: 10px;
	border-radius: 20px 20px;
	width: 30px;
	height: 30px;
	float: left;
	border: 1px #dcb03b solid;
}
#nav h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: medium;
	color: #dcb03b;
    text-align: center;
    margin-top: -8.5px;
	font-weight: bolder;
}

#nav ul { /* SECCIÓN DE BOTONES */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
    height: 3em;
    border-bottom: 3px solid #dcb03b;
}
#nav li {
	width: 100%;
    padding-top: 10px;
	transition: background-position-x 0.9s linear;
	text-align: center;
	float: left;
	width: max-content;
}
#nav li a {
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 18px 18px;
	text-decoration: none;
}
#nav li a:hover {
	background-color: #dcb03b;
}
#nav a.active {
	background-color: #333;
}

#nav #buscador { /* BUSCADOR */
	/*border: 1px blue solid;*/
    margin-top: -6px;
    margin-left: 6.5px;
}
#nav #buscador form {
	width: 300px;
	margin: 50px auto;
}
#buscador .search {
	padding: 4.5px 15px;
	background: #333;
	border: 1.5px solid #dcb03b;
	width: 600px;
	color: #fff;
}
.button {
	position: relative;
	padding: 5px 13px;
	border: 1px solid #dcb03b;
	background-color: #dcb03b;
	color: #fafafa;
	border-radius: 0 20px 20px 0;
}
.button:hover  {
	background-color: #e0b84b;
	color: #ffffff;
}
.arrow {
	position: relative;
	background: #dcb03b;
	margin-left: -6px;
}
.arrow:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rbga(32, 124, 202, 0);
	border-right-color: #dcb03b;
	border-width: 10px;
	margin-top: -9px;
}
/* fin CABECERA */

#cuerpo {
    position: relative;
	display: block;
    margin-top: -724px;
    /*border-top: 1px solid #dcb03b;
    border-bottom: solid #dcb03b;*/
	text-align: justify;
}

/*---------------------------CONTENIDO-----------------------------*/
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("Images/Cabecera2.jpg");
    /*border-top: 2px solid #dcb03b;*/
	border-bottom: 2px solid #dcb03b;
    min-height: 100%;
}
.bgimg-1:before { /*Oscurecer la imagen de la cabecera*/
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
#sobreNosotros, #politicas, #contacto {
	border: 4px solid #dcb03b;
	border-radius: 20px;
	box-shadow: 10px 10px 200px #000000;
}
/*.w3-container {
	background-color: aqua;
}*/
.w3-content {
	background-color: #fafafa;
	padding: 10px;
}
.w3-wide {
    letter-spacing: 10px;
}
.w3-hover-opacity {
    cursor: pointer;
}
/* Desactivar el desplazamiento para tablets y teléfonos (ignorar) */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        min-height: 500px;
    }
}
.w3-input {
	border-radius: 10px;
	background-color: #333 /*transparent*/;
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.w3-button {
	border-radius: 10px;
	/*color:#000!important;
	background-color:#ccc!important*/
}
.w3-button:hover {
	background-color: #dcb03b!important;
}
/*------------------------- fin CONTENIDO ---------------------------*/

/* FOOTER */
#footer {
	width: 100%;
	/*border: 1px solid blue;*/
	position: relative;
	display: inline-block;
	color: white;
	background-color: rgb(47, 47, 47);
	border-top: 2px solid #dcb03b;
	margin-top: 200px;
}
#footer .container {
	background: #333;
    text-align: center;
	margin-top: 20px;
	padding: 0 0 5px;
	list-style-type: none;
	/*border: 1px solid rgb(255, 230, 0);*/
	/*border: 1px solid rgb(255, 0, 225);*/
}
.container {
    width: 100%;
	/*border: 1px solid rgb(255, 0, 225);*/
}
.row {
    display: flex;
    flex-wrap: wrap;
	/*border: 1px solid rgb(17, 255, 0);*/
}
.columna1, .columna2, .columna3 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	/*margin-bottom: 15px;*/
	/*border: 1px solid rgb(255, 25, 0);*/
}
.columna4 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	margin-bottom: 15px;
}
#footer #footer1 .infoarea {
    padding: 24px 0 0;
}
#footer #footer1 .infoarea .footerLogo {
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    margin: 0 0 18px;
}
#footer .footerLogo img {
    vertical-align: middle;
    border-style: none;
	margin: 10px 0 5px;
	border: 1px solid #dcb03b;
	border-radius: 50px 50px;
}
#footer .links a {
    padding: 0;
	color: white;
	text-decoration: none;
	font-size: medium;
	line-height: normal;
}
#footer .links ul {
    padding: 0;
    margin: 0;
	list-style: none;
}
#footer .columna3 p {
    font-size: medium;
	line-height: normal;
}
#footer .columna4 ul li {
	list-style: none;
	margin: 0 5px;
}
.columna4 img {
	text-align: center;
	border: 1px solid #333;
	border-radius: 5px;
	margin-top: 5px;
}
.columna4 a {
	text-decoration: none;
}
.columna4 a:hover {
    opacity: .70;
}
#footer .footer-bottom {
    background: #e0b84b;
    padding: 21px 0;
    text-align: center;
	color: #000000;
}
.footer-bottom p {
    font-style: normal;
}
/* fin FOOTER */