body {
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}
/*Contenido*/
#container {
    text-align: center;
    font-weight: bold;
}
#container hr {
    width: 98%;
    border-color: rgb(0, 0, 0);
    margin-top: 10px;
}
#contenido {
    max-width: 99%;
    /*border: solid 1px black;*/
}
/*Cabecera*/
#top {
    background-color: rgb(31, 238, 13);
    border: 2px solid rgb(81, 84, 86);
    margin: 5px 5px;
    height: 5em;
    width: 98%;
}
/*Izquierda*/
#izq {
    width: 20.5%;
    background-color: rgb(235, 19, 19);
    border: 2px solid rgb(81, 84, 86);
    margin: 0 1px 5px 5px;
    height: 30em;
}
/*Centro*/
#center {
    width: 77%;
    background-color: rgb(15, 26, 232);
    border: 2px solid rgb(81, 84, 86);
    height: 30em;
    position: relative;
    float: right;
    /*right: 0.4em;*/
    bottom: 30.6em;
}
/*Pie*/
#pie {
    background-color: rgb(227, 235, 11);
    border: 2px solid rgb(81, 84, 86);
    margin: 0 1px 5px 5px;
    height: 5em;
    width: 98%;
}