body {
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: bold;
}
/*Contenido*/
#container {
    text-align: center;
}
#container hr {
    width: 99%;
    text-align: center;
    border-color: white;
    margin-top: 10px;
}
/*Cabecera*/
#top {
    background-color: rgb(31, 238, 13);
    margin: 5px 5px;
    height: 5em;
}
/*Izquierda*/
#izq {
    width: 20%;
    background-color: rgb(235, 19, 19);
    border: 2px solid rgb(81, 84, 86);
    float: left;
    margin: 0 1px 5px 5px;
    height: 37em;
}
/*Centro*/
#center {
    width: 58%;
    background-color: rgb(15, 26, 232);
    border: 2px solid rgb(81, 84, 86);
    /*float: left;*/
    position: absolute;
    left: 20.5%;
    margin: 0 1px 5px 5px;
    height: 37em;
}
/*Derecha*/
#der {
    width: 20%;
    background-color: rgb(227, 235, 11);
    border: 2px solid rgb(81, 84, 86);
    /*float: left;*/
    position: absolute;
    left: 79%;
    margin: 0 1px 5px 5px;
    height: 37em;
}
/*Pie*/
hr {
    width: 99%;
    text-align: center;
    border-color: black;
}