body {
    width: 90%;
    max-width: 800px;
    margin: 2em auto;
}
#content {
    padding: 0;
    margin: 0;
    text-align: justify;
}
/*Cebecera*/
#header {
    border: solid 1px red;
    background-color: #154c79;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 6em;
    width: 98.5%;
    color: #ddf1f4;
}
/*Lateral*/
#nav {
    width: 20%;
    height: 25.3em;
    /*border: solid 1px rgb(0, 255, 13);*/
    position: relative;
    float: left;
    margin-left: 0px;
    margin-top: 5px;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
}
#nav ul {
    list-style-type: none;
    background-color: black;
    padding: 10px 0;
}
#nav li {
    border-top: 1px solid rgb(70, 112, 113);
    padding: 10px 0;
    background-color: #76b5c5;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
/*Contenido*/
#contentinner {
    width: 78%;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
    margin: 5px 0;
    padding-right: 5px;
    position: relative;
    float: right;
}
/*Pie*/
#footer {
    border: solid 1px red;
    background-color: #154c79;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 6em;
    width: 98.5%;
    color: #ddf1f4;
}