ul.horizontal {
    margin: 0;
    padding: 0;
}
ul.horizontal li {
    display: block;
    float: left;
    padding: 0 10px;
}
#divMenu, ul, li, li li {
    margin: 0;
    padding: 0;
}
#divMenu {
    width: 100%;
    height: 20px;
}
#divMenu ul {
    line-height: 25px;
}
#divMenu li {
    list-style: none;
    position: relative;
    background: #dd8017;
}
#divMenu li li {
    list-style: none;
    position: relative;
    background: #b86c15;
}
#divMenu ul li a {
    width: 130px;
    height: 25px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: #fff;
    border: 1px solid #eee;
}
#divMenu ul ul {
    position: absolute;
    visibility: hidden;
    top: 27px;
}
#divMenu ul li:hover ul {
    visibility: visible;
}
#divMenu li:hover {
    background-color: #e98e26;
}
#divMenu ul li:hover ul li a:hover {
    background-color: #e98e26;
}
#divMenu a:hover {
    font-weight: bold;
}

/* Estilo del slider */
.slide {
	position: relative;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin: 0;
}

.slide-inner {
	position: absolute;
	overflow: hidden;
	width: 100%;
	/*height: calc(350px + 0.5em);*/
    height: body;
    border-bottom: solid #dd8017;
}

.slide-open:checked + .slide-item {
	position: static;
	opacity: 100;
}

.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}

.slide-item img {
	display: block;
	height: max-content;
	max-width: 100%;
    image-resolution: 1080px;
}

.slide-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}

.slide-control.prev {
	left: 2%;
}

.slide-control.next {
	right: 2%;
}

.slide-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5,
#slide-6:checked ~ .control-6 {
	display: block;
}

.slide-indicador {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
    bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

.slide-indicador li {
	display: inline-block;
	margin: 0 2px;
}

.slide-circulo {
	color: #828282;
	cursor: pointer;
	display: block;
	font-size: 35px;
}

.slide-circulo:hover {
	color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
li:nth-child(4) .slide-circulo,
#slide-5:checked ~ .control-5 ~ .slide-indicador 
li:nth-child(5) .slide-circulo,
#slide-6:checked ~ .control-6 ~ .slide-indicador 
li:nth-child(6) .slide-circulo {
	color: #dd8017;
}

#titulo {
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 27px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	z-index: 9999;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
			 	-1px 0px 2px rgba(255, 255, 255, 0);
}
/*/Estilo del slider*/

#buscador {
	position: relative;
	float: right;
}
#buscador form {
	width: 500px;
	margin: 50px auto;
}
.search {
	padding: 8.5px 15px;
	background: #333;
	border: 1.5px solid #e4881d;
	width: 300px;
	color: #fff;
}
.button {
	position: relative;
	padding: 8px 15px;
	border: 2px solid #dd8017;
	background-color: #dd8017;
	color: #fafafa;
	border-radius: 0 20px 20px 0;
}
.button:hover  {
	background-color: #e4881d;
	color: #ffffff;
}
.arrow {
	position: relative;
	background: #e4881d;
	/*padding:;*/
	margin-left: -5px;
}
.arrow:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rbga(32, 124, 202, 0);
	border-right-color: #dd8017;
	border-width: 10px;
	margin-top: -9px;
}

/*
.form {
	float: right;
	margin: 0 5px 5px 5px;
	display: flex;
	border: 1px solid #dd8017;
	border-radius: 50px;
	max-width: 700px;
}
.input {
	flex: 1;
	display: flex;
	padding: 7px;
}
.input2 {
	background-color: transparent;
	border: none;
	margin: 0; 
	font-size: 15px;
	word-wrap: break-word;
	outline: none;
	display: flex;
	flex: 1;
	-webkit-tap-highlight-color: transparent;
	width: 100%;
	padding: 6px;
	padding-left: 14px;
	overflow-y: hidden;
	height: 15px;
}
.input2:focus {
	font-size: 15px;
}
.boton {
	display: flex;
	border-radius: 0 50px 50px 0;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #dd8017;
	border: 1px solid #dd8017;
	margin: -1px;
	outline: none;
	flex: 0 0 auto;
	fill: rgba(255, 255, 255, 0);
	cursor: pointer;
}
.svg {
	background: none;
	height: 20px;
	width: 20px;
	margin: auto;
}
@media screen and (min-width:300px) and (max-width:796px) {
	.form {
		border-radius: 20px;
		width: 70%;
	}
	.input2 {
		font-size: 15px;
		padding: 0;
		height: 15px;
	}
	.input2:focus {
		font-size: 15px;
	}
	.boton {
		border-radius: 0 20px 20px 0;
	}
	.svg {
		height: 20px;
		width: 20px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input:focus {
		font-size: 15px;
	}
}

H T M L

<li>
                <form class="form" action="https://www.google.com/search" method="GET" target="_blank"> <!-- Revisar el "action" -->
                    <div class="input">
                        <input class="input2" name="q" type="search" aria-label="Buscar" placeholder="Buscar" autofocus>
                        <input type="hidden" name="as_sitesearch" value="norfipc.com">
                    </div> 
                    <button class="boton" aria-label="Buscar" type="submit">
                        <span class="svg"> 
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">                                
                                </path>
                            </svg>
                        </span> 
                    </button> 
				</form>
</li>
*/